In [1]:
import pandas as pd

In [2]:
# read csv and check columns
nov_data = pd.read_csv('../e_commerce_analysis_temp/csv/purchase_Nov_2019.csv')
oct_data = pd.read_csv('../e_commerce_analysis_temp/csv/purchase_Oct_2019.csv')
nov_data.head()

,event_index,event_time,product_id,category_code,brand,price
0,26560704,2019-11-01 00:01:04,1005161,electronics.smartphone,xiaomi,211.92
1,26561009,2019-11-01 00:04:51,1004856,electronics.smartphone,samsung,128.42
2,26561149,2019-11-01 00:06:33,1801881,electronics.video.tv,samsung,488.80
3,26561150,2019-11-01 00:06:34,5800823,electronics.audio.subwoofer,nakamichi,123.56
4,26561234,2019-11-01 00:07:38,30000218,construction.tools.welding,magnetta,254.78

In [3]:
# check columns
oct_data.head()

,event_index,event_time,product_id,category_code,brand,price
0,112,2019-10-01 00:02:14,1004856,electronics.smartphone,samsung,130.76
1,198,2019-10-01 00:04:37,1002532,electronics.smartphone,apple,642.69
2,269,2019-10-01 00:07:07,13800054,furniture.bathroom.toilet,santeri,54.42
3,340,2019-10-01 00:09:26,4804055,electronics.audio.headphone,apple,189.91
4,353,2019-10-01 00:09:54,4804056,electronics.audio.headphone,apple,161.98

In [4]:
# finding top ten brands
oct_data['brand'].value_counts().nlargest(10)

samsung     171706
apple       142577
xiaomi       46595
huawei       23294
oppo         10891
lg            7831
acer          6882
elenberg      5435
indesit       5023
artel         4717
Name: brand, dtype: int64

In [5]:
# finding top ten brands
nov_data['brand'].value_counts().nlargest(10)

samsung    198670
apple      165681
xiaomi      57909
huawei      23466
oppo        15080
lg          11828
artel        7269
lenovo       6546
acer         6402
bosch        5718
Name: brand, dtype: int64

In [6]:
oct_data['category_code'].value_counts().nlargest(10)

electronics.smartphone              337575
electronics.audio.headphone          30439
electronics.video.tv                 21548
electronics.clocks                   16647
appliances.kitchen.washer            16059
computers.notebook                   15547
appliances.environment.vacuum        12218
appliances.kitchen.refrigerators      8871
electronics.tablet                    5599
electronics.telephone                 3733
Name: category_code, dtype: int64

In [7]:
nov_data['category_code'].value_counts().nlargest(10)

electronics.smartphone              382492
electronics.audio.headphone          40742
electronics.video.tv                 30178
electronics.clocks                   21426
appliances.kitchen.washer            19680
computers.notebook                   18323
appliances.environment.vacuum        18122
appliances.kitchen.refrigerators     10420
apparel.shoes                         8768
electronics.tablet                    6123
Name: category_code, dtype: int64

In [8]:
top_five_oct = oct_data.loc[(oct_data['brand'] == 'samsung') | (oct_data['brand'] == 'apple') | (oct_data['brand'] == 'xiaomi') | (oct_data['brand'] == 'huawei') | (oct_data['brand'] == 'oppo')].sort_values(by = "event_index")
top_five_oct.head()

,event_index,event_time,product_id,category_code,brand,price
0,112,2019-10-01 00:02:14,1004856,electronics.smartphone,samsung,130.76
1,198,2019-10-01 00:04:37,1002532,electronics.smartphone,apple,642.69
3,340,2019-10-01 00:09:26,4804055,electronics.audio.headphone,apple,189.91
4,353,2019-10-01 00:09:54,4804056,electronics.audio.headphone,apple,161.98
5,363,2019-10-01 00:10:08,1002524,electronics.smartphone,apple,515.67

In [9]:
# reducing data to top five brands since top five is the same in both files
top_five_nov = nov_data.loc[(nov_data['brand'] == 'samsung') | (nov_data['brand'] == 'apple') | (nov_data['brand'] == 'xiaomi') | (nov_data['brand'] == 'huawei') | (nov_data['brand'] == 'oppo')].sort_values(by = "event_index")
top_five_nov.head()

,event_index,event_time,product_id,category_code,brand,price
0,26560704,2019-11-01 00:01:04,1005161,electronics.smartphone,xiaomi,211.92
1,26561009,2019-11-01 00:04:51,1004856,electronics.smartphone,samsung,128.42
2,26561149,2019-11-01 00:06:33,1801881,electronics.video.tv,samsung,488.80
5,26561455,2019-11-01 00:10:12,1801881,electronics.video.tv,samsung,488.80
7,26561506,2019-11-01 00:10:47,1005124,electronics.smartphone,apple,1583.48

In [10]:
# reducing data to washers
washers_oct = top_five_oct.loc[top_five_oct['category_code'] == 'appliances.kitchen.washer']
washers_oct

,event_index,event_time,product_id,category_code,brand,price
562,31493,2019-10-01 03:33:38,3600661,appliances.kitchen.washer,samsung,295.49
757,40342,2019-10-01 03:50:23,3600661,appliances.kitchen.washer,samsung,295.49
814,43145,2019-10-01 03:55:38,3600661,appliances.kitchen.washer,samsung,295.49
859,45295,2019-10-01 03:59:17,3601537,appliances.kitchen.washer,samsung,386.08
877,46381,2019-10-01 04:01:03,3601489,appliances.kitchen.washer,samsung,476.18
...,...,...,...,...,...,...
547968,26450792,2019-10-31 17:42:22,3600661,appliances.kitchen.washer,samsung,306.05
548010,26454541,2019-10-31 17:46:54,3600661,appliances.kitchen.washer,samsung,306.05
548030,26455745,2019-10-31 17:48:26,3601461,appliances.kitchen.washer,samsung,411.59
548303,26477273,2019-10-31 18:17:09,3601489,appliances.kitchen.washer,samsung,476.17
549409,26554662,2019-10-31 22:41:03,3600835,appliances.kitchen.washer,samsung,656.36

In [11]:
# reducing data to washers
washers_nov = top_five_nov.loc[top_five_nov['category_code'] == 'appliances.kitchen.washer']
washers_nov

,event_index,event_time,product_id,category_code,brand,price
123,26571520,2019-11-01 01:45:15,3600661,appliances.kitchen.washer,samsung,306.05
128,26571853,2019-11-01 01:46:42,3600661,appliances.kitchen.washer,samsung,306.05
204,26578225,2019-11-01 02:12:31,3601524,appliances.kitchen.washer,samsung,398.95
240,26581000,2019-11-01 02:21:31,3601344,appliances.kitchen.washer,samsung,424.70
477,26594559,2019-11-01 02:59:52,3600545,appliances.kitchen.washer,samsung,579.14
...,...,...,...,...,...,...
658390,68602468,2019-11-30 20:16:13,3601279,appliances.kitchen.washer,samsung,1184.05
658593,68614519,2019-11-30 20:44:32,3601344,appliances.kitchen.washer,samsung,373.21
658707,68621455,2019-11-30 21:07:40,3600661,appliances.kitchen.washer,samsung,308.86
658779,68624635,2019-11-30 21:18:12,3601537,appliances.kitchen.washer,samsung,386.08
659134,68644026,2019-11-30 23:00:16,3600545,appliances.kitchen.washer,samsung,579.14

In [ ]:
# export to csv

washers_nov.to_csv('../e_commerce_analysis_temp/csv/washers_nov_2019.csv',encoding='utf-8',index=False)
washers_oct.to_csv('../e_commerce_analysis_temp/csv/washers_oct_2019.csv',encoding='utf-8',index=False)

In [ ]:
# export to csv

nov_data.to_csv('../e_commerce_analysis_temp/csv/top_five_nov_2019.csv',encoding='utf-8',index=False)
oct_data.to_csv('../e_commerce_analysis_temp/csv/top_five_oct_2019.csv',encoding='utf-8',index=False)