In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
# read csv and check columns
nov_data = pd.read_csv('../e_commerce_analysis_temp/csv/purchase_Nov_2019.csv')
oct_data = pd.read_csv('../e_commerce_analysis_temp/csv/purchase_Oct_2019.csv')
nov_data.head()

,event_index,event_time,product_id,category_code,brand,price
0,26560704,2019-11-01 00:01:04,1005161,electronics.smartphone,xiaomi,211.92
1,26561009,2019-11-01 00:04:51,1004856,electronics.smartphone,samsung,128.42
2,26561149,2019-11-01 00:06:33,1801881,electronics.video.tv,samsung,488.80
3,26561150,2019-11-01 00:06:34,5800823,electronics.audio.subwoofer,nakamichi,123.56
4,26561234,2019-11-01 00:07:38,30000218,construction.tools.welding,magnetta,254.78

In [3]:
# check columns
oct_data.head()

,event_index,event_time,product_id,category_code,brand,price
0,112,2019-10-01 00:02:14,1004856,electronics.smartphone,samsung,130.76
1,198,2019-10-01 00:04:37,1002532,electronics.smartphone,apple,642.69
2,269,2019-10-01 00:07:07,13800054,furniture.bathroom.toilet,santeri,54.42
3,340,2019-10-01 00:09:26,4804055,electronics.audio.headphone,apple,189.91
4,353,2019-10-01 00:09:54,4804056,electronics.audio.headphone,apple,161.98

In [4]:
# finding top ten brands
oct_data['brand'].value_counts().nlargest(10)

samsung     171706
apple       142577
xiaomi       46595
huawei       23294
oppo         10891
lg            7831
acer          6882
elenberg      5435
indesit       5023
artel         4717
Name: brand, dtype: int64

In [5]:
# finding top ten brands
nov_data['brand'].value_counts().nlargest(10)

samsung    198670
apple      165681
xiaomi      57909
huawei      23466
oppo        15080
lg          11828
artel        7269
lenovo       6546
acer         6402
bosch        5718
Name: brand, dtype: int64

In [6]:
# top categories
oct_data['category_code'].value_counts().nlargest(10)

electronics.smartphone              337575
electronics.audio.headphone          30439
electronics.video.tv                 21548
electronics.clocks                   16647
appliances.kitchen.washer            16059
computers.notebook                   15547
appliances.environment.vacuum        12218
appliances.kitchen.refrigerators      8871
electronics.tablet                    5599
electronics.telephone                 3733
Name: category_code, dtype: int64

In [7]:
# top categories
nov_data['category_code'].value_counts().nlargest(10)

electronics.smartphone              382492
electronics.audio.headphone          40742
electronics.video.tv                 30178
electronics.clocks                   21426
appliances.kitchen.washer            19680
computers.notebook                   18323
appliances.environment.vacuum        18122
appliances.kitchen.refrigerators     10420
apparel.shoes                         8768
electronics.tablet                    6123
Name: category_code, dtype: int64

In [8]:
# reducing data to top five brands since top five is the same in both files
top_five_oct = oct_data.loc[(oct_data['brand'] == 'samsung') | (oct_data['brand'] == 'apple') | (oct_data['brand'] == 'xiaomi') | (oct_data['brand'] == 'huawei') | (oct_data['brand'] == 'oppo')].sort_values(by = "event_index")
top_five_oct.head()

,event_index,event_time,product_id,category_code,brand,price
0,112,2019-10-01 00:02:14,1004856,electronics.smartphone,samsung,130.76
1,198,2019-10-01 00:04:37,1002532,electronics.smartphone,apple,642.69
3,340,2019-10-01 00:09:26,4804055,electronics.audio.headphone,apple,189.91
4,353,2019-10-01 00:09:54,4804056,electronics.audio.headphone,apple,161.98
5,363,2019-10-01 00:10:08,1002524,electronics.smartphone,apple,515.67

In [9]:
# reducing data to top five brands since top five is the same in both files
top_five_nov = nov_data.loc[(nov_data['brand'] == 'samsung') | (nov_data['brand'] == 'apple') | (nov_data['brand'] == 'xiaomi') | (nov_data['brand'] == 'huawei') | (nov_data['brand'] == 'oppo')].sort_values(by = "event_index")
top_five_nov.head()

,event_index,event_time,product_id,category_code,brand,price
0,26560704,2019-11-01 00:01:04,1005161,electronics.smartphone,xiaomi,211.92
1,26561009,2019-11-01 00:04:51,1004856,electronics.smartphone,samsung,128.42
2,26561149,2019-11-01 00:06:33,1801881,electronics.video.tv,samsung,488.80
5,26561455,2019-11-01 00:10:12,1801881,electronics.video.tv,samsung,488.80
7,26561506,2019-11-01 00:10:47,1005124,electronics.smartphone,apple,1583.48

In [10]:
# export to csv

nov_data.to_csv('../e_commerce_analysis_temp/csv/top_five_nov_2019.csv',encoding='utf-8',index=False)
oct_data.to_csv('../e_commerce_analysis_temp/csv/top_five_oct_2019.csv',encoding='utf-8',index=False)